@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Proxima Nova";
  color: #2b2929;
  background-color: #f8f8f8;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
}
.header__container {
}
.header__upper {
}
.header__main {
}
.header__catalog {
}

.upper-header {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.upper-header__menu {
}
.upper-header__help {
}

.menu {
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 5px;
}
.menu__item {
  line-height: 1.87;
  color: #535353;
  transition: color 0.3s;
}

.menu__item:hover {
  color: #000;
}
.menu__link {
}

.help-upper-header {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.help-upper-header__body {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.help-upper-header__text {
  line-height: 1.87;
  color: #535353;
}

.help-upper-header__social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}
.help-upper-header__social a {
  transition: opacity 0.3s;
}

.help-upper-header__social a:hover {
  opacity: 0.8;
}
.help-upper-header__select {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.help-upper-header__select:after {
  content: "";
  background: url("../img/icons/arrow-down.svg") 0 0 no-repeat;
  width: 12px;
  height: 8px;
}
.help-upper-header__option {
}

.main-header {
  padding: 25px 0;
  display: flex;
  align-items: center;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 15px;
}
.main-header__logo {
}
.main-header__button {
}
.main-header__form {
  flex: 1 1 auto;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  background-color: #fff;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.main-header__form::after {
  content: "";
  background: url("../img/icons/search.svg") 0 0 no-repeat;
  flex: 0 0 24px;
  height: 24px;
}
.main-header__search {
  line-height: 1.87;
  color: #000000;
  font-weight: 500;
}
.main-header__search::placeholder {
  color: #535353;
}
.main-header__contact {
}

.contact {
  display: flex;
  align-items: center;
  column-gap: 20px;
  flex-shrink: 0;
}
.contact::after {
  content: "";
  background: url("../img/icons/arrow-down.svg") 0 0 no-repeat;
  width: 12px;
  height: 10px;
}
.contact__icon {
}
.contact__icon img {
}
.contact__body {
}
.contact__text {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}
.contact__number {
  color: #2b2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.main-header__actions {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.main-header__favourite {
}
.main-header__cart {
}

.catalog-header {
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 18px 0;
  color: #535353;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  display: flex;
  align-items: center;
  column-gap: 50px;
  justify-content: space-between;
}

.catalog-header__hot-actions {
}
.hot-actions-catalog-header {
  display: flex;
  align-items: center;
  column-gap: 40px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.hot-actions-catalog-header__item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: color 0.3s;
}
.hot-actions-catalog-header__item:hover {
  color: #000;
}
.catalog-header__items {
  display: flex;
  align-items: center;
  column-gap: 40px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.catalog-header__item {
}
.catalog-header__item a {
  transition: color 0.3s;
}
.catalog-header__item a:hover {
  color: #000;
}

.button {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  border-radius: 8px;
  column-gap: 10px;
  padding: 11px 20px;
  background-color: #ffbc57;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #efb153;
}

.favourite,
.cart {
  border-radius: 50%;
  border: 2px solid #ffbc57;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}
.favourite:hover,
.cart:hover {
  opacity: 0.8;
}

.favourite::before {
  content: "";
  background: url("../img/icons/favorite.svg") 0 0 no-repeat;
  width: 26px;
  height: 23px;
}
.cart::before {
  content: "";
  background: url("../img/icons/cart.svg") 0 0 no-repeat;
  width: 25px;
  height: 25px;
}

/*---------------------------------------*/

@media (max-width: 768px) {
  .catalog-header {
    font-size: 16px;
  }
  .hot-actions-catalog-header {
    column-gap: 15px;
  }
  .catalog-header__items {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .menu__item {
    font-size: 15px;
  }
  .menu__list {
    column-gap: 15px;
    row-gap: 5px;
  }
}
@media (max-width: 1020px) {
  .help-upper-header__text {
    display: none;8
  }
}

@media (max-width: 810px) {
  .help-upper-header {
    width: 100%;
    justify-content: space-between;
  }
}
